.div_2a {
background-color: rgb(221, 160, 221);   
height: 250px; 
width: 100%;
display:flex;
justify-content: center;
}

.div_2b {
background-color: #e64862;  
height: 100%;  
width: 250px;
border: solid red 20px;
}

.div_2c {
background-color: aqua;    
height: 80%;
width: 30%;
}